* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* regola per centrare i contenuti */
.centratura {
    padding: 0 10%;
}

.barraTop {
    width: 100%;
    height: 60px;
    background-color: rgb(243, 244, 245);
    display: flex;
}

.tastiLeft, .tastiRight {
    width: 50%;
}

.tastiLeft ul {
    display: flex;
    line-height: 60px;
}

.tastiLeft ul li {
    margin-right: 20px;
}

.tastiRight ul {
    display: flex;
    line-height: 60px;
    justify-content: flex-end;
}

.tastiRight ul li {
    margin-left: 20px;
}

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
}

#imgLogo {
    width: 100px;
    margin-top:35px;
}

.navLeft {
    width: 60%;
}

.navLeft ul{
    display: flex;
    line-height: 100px;
}

.navLeft ul li {
    margin-left: 40px;
}

.logo {
    width: 10%;
}

.btn {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.button {
    border-radius: 10px;
    margin-top: 40px;
    background-color: #000;
    padding: 20px;
    color: #fff;
}
.parent-dropDownDenaro, .parent-dropDownInvestimenti {
    position: relative;
}

.dropDown {
    position: absolute;
    top: 75px;
    left: -20px;
    box-shadow: 2px 2px 10px 2px #cccccc;
    border-radius: 5px;
    display: none;
}

.dropDownInvestimenti {
    position: absolute;
    top: 75px;
    left: -20px;
    box-shadow: 2px 2px 10px 2px #cccccc;
    border-radius: 5px;
    display: none;
}

.dropDownDenaro {
    width: 250px;
}

.dropDownInvestimenti {
    width: 300px;
}


.dropDownDenaro ul {
    display: flex;
    flex-direction: column;
}

.dropDownInvestimenti ul {
    display: flex;
    flex-direction: column;
}

.dropDownDenaro ul li {
    margin-bottom: 2px;
    margin-left: 10px;
    line-height: 40px;
}

.dropDownInvestimenti ul li {
    margin-bottom: 2px;
    margin-left: 10px;
    line-height: 40px;
}
